.avatar {
  border-radius: 50%;
  margin-right: 10px;
}
.name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
li {
  flex-basis: calc(33.33% - 10px);
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.items li img {
  border-radius: 50%;
  padding-bottom: 15px;
}
.name {
  font-weight: bold;
  font-size: 20px;
}
.status {
  margin-top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.true {
  color: green;
}
.false {
  color: red;
}
